<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>style vue.js</title>
    <script type="text/javascript" src='vue.js'></script>
</head>
<body>
    
    <div id="app">
        <button v-bind:id='typeId' v-bind:disabled='flag' >你的名字</button>
        
        <h1 @click='openMsg($event)'>他的名字</h1>
        <template v-for='(items,index) in list'>
            <p>{{ items.num | changeNum | changeAgain | changaTwo(1,index) }}----{{items.text}}----{{index+1}}</p>
        </template>
        
        <num-item v-for='(items,index) in list'  v-bind:todo='items'  v-bind:msg='index' >
            
        </num-item>

        <h2 is='h2-item' v-for='(items,key,index) in list'  v-bind:todo='items'  v-bind:msg='index' hello='hello!'> </h2>

        <p> {{total}}</p>
        <button-counter v-on:sum="totalMent()"></button-counter>
        <button-counter v-on:sum="totalMent()"></button-counter>

        <template-component v-for='(items,index) in list'  v-bind:todo='items'  v-bind:msg='index' >

        </template-component>

    </div>


    <script type="text/x-template" id="hello-template">
        <p>定义模版：在 JavaScript 标签里使用 text/x-template 类型，并且指定一个id。</p>
    </script>


    <script type="text/javascript">
        
        var app = new Vue({
            el:'#app',
            data: {
                list: [
                    { text: '蔬菜' ,num:'1'},
                    { text: '奶酪' ,num:'2'},
                    { text: '水果' ,num:'3'}
                ],
                text: '我是1',
                flag: false,
                typeId: 'h1',
                total: 0,
                num1: 1,
                num2: 2,
                num3: ''
            },
            mounted(){
                setTimeout(()=>this.text='我是2',3000);
                console.log('生命周期函数');
            },
            methods: {
                changeText(){
                    this.change = '我是2';
                    this.nums='1_2';
                },
                getStyle(){

                },
                openMsg(e){
                    this.flag = !this.flag;
                    console.dir(e);
                },
                totalMent(){
                    this.total += 2;
                }
            },
            watch: {
                text(newVal,oldVal){
                    console.log(newVal);
                    console.log(oldVal);
                    this.text = '我是1'
                }
            },
            computed: {
                /*
                计算属性computed    set get
                 */
                comText: {
                    get(){
                        return this.num1 + '_' + this.num2;
                    },
                    set(newVal,oldVal){
                        console(newVal)
                        console(oldVal)
                    }
                }
            },
            components: {
                'num-item': {
                    props: {
                        todo: {
                            type: Object,
                            default(){
                                return{
                                    message: '我是默认返回的哦，请多多关照'
                                }
                            }
                        },
                        msg:{
                            type: Number,
                            required: true,
                            default: 10
                        }
                    },
                    template: '<li>-----{{todo.num}}----{{todo.text}}----{{msg}}------------{{text}}</li>',
                    data(){
                        return {
                            text: '我是内部的文字'
                        }
                    }
                },
                'template-component': {
                    props: {
                        todo: {
                            type: Object,
                            default(){
                                return{
                                    message: '我是默认返回的哦，请多多关照'
                                }
                            }
                        },
                        msg:{
                            type: Number,
                            required: true,
                            default: 10
                        }
                    },
                    template: '#hello-template',
                    data(){
                        return {
                            'text': '内部数据'
                        }
                    },
                },
                'h2-item': {
                    props: ['todo','msg','hello'],
                    template: '<h2 v-on:click="count+=1">我是内部的数据-{{count}}--{{hello}}---{{todo.num}}----{{todo.text}}----{{msg}}</h2>',
                    data(){
                        return {
                            count: 1
                        }
                    }
                },
                'button-counter': {
                    template: '<button @click="increment">{{ counter }}</button>',
                    data(){
                        return {
                            counter: 0
                        }
                    },
                    methods: {
                        increment(){
                            this.counter += 2;
                            this.$emit('sum'); //触发自定义事件 sum
                        }
                    }
                }
            },
            filters: {
                changeNum(num){
                    if(num==2){
                        num = num-0 + 2;
                    }
                    return num;
                },
                changeAgain(num){
                    if(num==3){
                        num = (num-0) * 22;
                    }
                    return num;
                },
                changaTwo(num,arg1,arg2){
                    if(num==1){
                        num = arg1 + arg2;
                    }
                    return num;
                }
            }

        });


    </script>


</body>
</html>